html, body{
  font-family: sans-serif;
}
.main{
  padding: 2%;
}
header{
  margin-bottom: 90px;
}
.logo{
  float: left;
  font-size: 24px;
  margin: 0;
}
.search{
  border-radius: 20px;
  border: 1px solid #999;
  padding: 6px 10px;
  width: 100%;
  clear: left;
  display: block;
  box-sizing: border-box;
}
.list{
  max-width: 1024px;
  margin: 0 auto;
  list-style: none;
  padding: 0;
  clear: both;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
}
.list .item{
  position: relative;
  box-sizing: border-box;
  padding: 2%;
  border: 1px solid #ccc;
  border-bottom: 0;
  min-height: 92px;
  white-space: nowrap;
}
.list .item-title{
  font-size: 15px;
  margin: 0;
}
.list .item-pics,
.list .item-details{
  display: inline-block;
  vertical-align: middle;
}
.list .item-pics .item-pic{
  max-width: 90px;
}
.list .item-pics .item-pic img{
  max-width: 100%;
  height: auto;
}
.list .item-details{
  font-size: 12px;
  padding-left: 2%;
}
.list .item-price{
  position: absolute;
  right: 2%;
  top: 50%;
  margin-top: -6px;
  font-size: 13px;
  color: #999;
}
.list .item-price .min{
  font-weight: bold;
}
.list .item-price .max{
  text-decoration: line-through;
}
.pagination{
  width: 100%;
  display: block;
  padding: 0 2% 2% 0;
  margin: 2% 0;
  text-align: center;
}
.pagination ul{
  margin: 0;
  list-style: none;
  padding: 0;
}
.pagination li{
  display: inline-block;
  box-sizing: border-box;
  padding: 10px;
  text-align: center;
  font-size: 12px;
}
.pagination .current{
  border: 1px solid #999;
  border-radius: 4px;
}
.items-per-page{
  background: #fff;
  padding: 10px;
  border: 1px solid #999;
  border-radius: 4px;
  width: 100%;
  display: block;
  margin: 2% 0;
}
.loading{
  position: fixed;
  top: 0;
  width: 200px;
  text-align: center;
  left: 50%;
  margin-left: -100px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 4px;
  border-radius: 20px;
}

@media screen and (min-width: 524px) {
  .search{
    float: right;
    clear: none;
    width: auto;
  }
  .pagination{
    width: auto;
    float: right;
    margin: 0;
    text-align: right;
  }
  .items-per-page{
    width: auto;
    margin: 0;
    float: left;
  }
}
